<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name ="ChurchCS" connectionString ="Data Source=LAPTOP-1GB64A2N;Initial Catalog=church;Integrated Security=True"/>
    </connectionStrings>
</configuration>